.post-card{
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: lightgray 4px 4px 20px;
    width: 18rem;
    min-height: 18rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

p{
    font-weight: 300;
    font-size: 17px;
}

span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: bisque;
    padding: 3px;
}
.view-post-button{
    right: 10px;
    background-color: rgb(121, 201, 174);
}

.edit-post-button, .view-post-button{
    position: absolute;
    width: 30%;
    bottom: 2px;
}
.edit-post-button{
    left: 10px;
    background-color: rgb(226, 238, 204);
}
