<div class="form-content">
    <div class="form-feedback" *ngIf="formFeedback" [ngStyle]="{'background-color': backgroundColor}">{{ formFeedback }}</div>
    <form [formGroup]="postForm" enctype="multipart/form-data">
        <div class="input-contain">
            <label for="title">Title</label><br>
            <input type="text"  id="title" formControlName="title">
        </div>
        <div class="input-contain">
           <label for="description">Description</label><br>
           <textarea  id="description" formControlName="description" rows="5"></textarea>
        </div>

        <div formArrayName="contentBlock" >

            <div *ngFor="let contentBlock of contentBlocks.controls; let l=index" class="content-bloc"
                 [formGroupName]="l">

                <span (click)="toggleCollapse(l)" class="collapse-btn">
                    {{ isCollapsed[l] ? '+' : '-'}}
                </span>

                <div class="input-contain">
                    <label for="contentBlockTitle{{l}}">Title du bloc</label><br>
                    <input id="'contentBlockTitle{{l}}'" formControlName="title" type="text" class="content-bloc-title"/>
                </div>
                <button class="delete-btn" (click)="onDeleteBlock(l)"> Supprimer le bloc</button>

                <div *ngIf="!isCollapsed[l]" [class.collapsed]="isCollapsed[l]" [class.expanded]="!isCollapsed[l]">
                   
                    <div formArrayName="contents" >
                        <div *ngFor="let content of getContents(l).controls; let j = index" [formGroupName]="j" class="content">
                            <span class="delete-content" (click)="onDeleteContent(l,j)"> Supprimer</span>
                            <div class="input-contain">
                                <label for="type">Type</label><br>
                                <select formControlName="type">
                                    <option value="text">Text</option>
                                    <option value="image">Image</option>
                                    <option value="list">List d'éléments</option>
                                </select>
                            </div>
                            <div class="input-contain">
                                <label for="value{{j}}">
                                    @if (content.get('type')?.value === 'text') {
                                        Ajouter votre text
                                    }@else if (content.get('type')?.value === 'image') {
                                        Image
                                    }@else {
                                        List
                                    }
                                </label><br>

                                <div *ngIf="content.get('type')?.value === 'image'">
                                    <input   type="file" name="file" 
                                    accept="image/*" class="image-upload-input" id="value{{j}}" (change)="onFileChange($event, l, j)">
                                    <img *ngIf="content.get('value')?.value" [src]="content.get('value')?.value" class="form-image">
                                </div>

                                <textarea *ngIf="content.get('type')?.value === 'text'" formControlName="value" id="value{{j}}"
                                placeholder="Ajouter votre paragraphe"></textarea>
        
                                <textarea *ngIf="content.get('type')?.value === 'list'" formControlName="value" id="value{{j}}"
                                placeholder="Entrez les éléments de la liste (séparés par des points virgules)"></textarea>
                            </div>      
                        </div>
                        <button class="add-content" (click)="addContent(l)">Ajouter du contenu</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-div">
            <button class="add-bloc" (click)="addContentBlock()">Ajouter un bloc</button>
        </div>
        <div>
            <button type="submit" (click)="onSubmitForm(); isUpdated = false" [disabled]="postForm.invalid">{{ post ? 'Modifier' : 'Ajouter' }}</button>
            <button *ngIf="post" (click)="onDeletePost(post.code)" class="deleteBtn">Supprimer</button>
        </div>
    </form>  
</div>
