<div *ngIf="post$|async as post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.description }}</p>

    <div *ngIf="post.contentBlock as contentBlocks">
        <div *ngFor="let contentBlock of contentBlocks">
            <h3>{{ contentBlock.title}}</h3>
            <div *ngFor="let content of contentBlock.contents">
                <p *ngIf="content.type === 'text' ">
                    {{content.value}}
                </p>
                <ul *ngIf="content.type === 'list'">
                    <li *ngFor="let item of content.value | splitBySemicolon">{{ item }}</li>
                </ul>
                <img *ngIf="content.type === 'image' " [src]="content.value" [alt]="contentBlock.title" class="post-image">
            </div>
        </div>
    </div>
</div>
